@charset "UTF-8";
@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello/fontello.eot?49083708");
  src: url("../fonts/fontello/fontello.eot?49083708#iefix") format("embedded-opentype"), url("../fonts/fontello/fontello.woff2?49083708") format("woff2"), url("../fonts/fontello/fontello.woff?49083708") format("woff"), url("../fonts/fontello/fontello.ttf?49083708") format("truetype"), url("../fonts/fontello/fontello.svg?49083708#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?49083708#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-search:before {
  content: '\e800'; }

/* '' */
.icon-cancel:before {
  content: '\e801'; }

/* '' */
.icon-cancel-1:before {
  content: '\e802'; }

/* '' */
.icon-vk:before {
  content: '\e803'; }

/* '' */
.icon-facebook:before {
  content: '\e804'; }

/* '' */
.icon-gplus:before {
  content: '\e805'; }

/* '' */
.icon-twitter:before {
  content: '\e806'; }

/* '' */
.icon-location:before {
  content: '\e807'; }

/* '' */
.icon-clock:before {
  content: '\e808'; }

/* '' */
.icon-angle-right:before {
  content: '\f105'; }

/* '' */
.icon-angle-up:before {
  content: '\f106'; }

/* '' */
.icon-angle-down:before {
  content: '\f107'; }

/* '' */
.icon-odnoklassniki:before {
  content: '\f263'; }

/* '' */
/*Specification*/
ul {
  padding: 0;
  margin: 0;
  list-style: none; }

p, h1, h2 {
  margin: 0; }

body {
  font-family: 'Proxima Nova', 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #000; }

input {
  outline: none;
  border: none; }

button {
  padding: 0;
  border: none; }

.title {
  font-family: 'Helvetica', 'Roboto', sans-serif;
  font-size: 44px;
  font-weight: 700; }
  .title span {
    color: #fc4f3f; }

.services-block {
  display: block;
  position: relative;
  width: 250px;
  height: 130px; }
  .services-block:hover {
    -webkit-box-shadow: 0 0 0 5px #3598db;
            box-shadow: 0 0 0 5px #3598db; }
  .services-block:before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    border-bottom: 110px solid rgba(55, 77, 102, 0.8);
    border-right: 230px solid transparent; }
  .services-block:hover:before {
    display: block;
    border-bottom: 110px solid rgba(53, 152, 219, 0.8); }
  .services-block__img {
    height: 130px; }
  .services-block__icon {
    width: 40px;
    position: absolute;
    top: 0;
    left: 0; }
    .services-block__icon_size {
      width: 35px;
      padding-left: 10px; }
  .services-block__text {
    position: absolute;
    bottom: 18px;
    left: 15px;
    font-size: 14px;
    font-weight: 700;
    color: #fff; }

.tv-block {
  display: block;
  position: relative;
  width: 270px;
  height: 150px; }
  .tv-block:hover {
    -webkit-box-shadow: 0 0 0 5px #3598db;
            box-shadow: 0 0 0 5px #3598db; }
  .tv-block__img {
    height: 150px; }
  .tv-block__icon {
    width: 60px;
    position: absolute;
    top: 50px;
    left: 95px; }

/*section sale*/
.sale {
  background: #ebf7ff;
  height: 45px; }
  .sale p {
    font-size: 13px;
    color: #666;
    line-height: 45px; }
    .sale p span {
      padding-left: 13px; }
    .sale p a {
      color: #3598db;
      text-decoration: underline; }

.select-city {
  padding: 7px 0; }
  .select-city select {
    padding: 3px 10px;
    width: 180px;
    height: 30px;
    border: 1px solid rgba(197, 232, 255, 0.8);
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    color: #326795;
    cursor: pointer; }
    .select-city select:focus {
      outline: none;
      color: #326795;
      border: 1px solid rgba(197, 232, 255, 0.8);
      cursor: pointer; }
    .select-city select option {
      color: #000; }
      .select-city select option:focus {
        color: #3598db; }

.select-icon {
  position: absolute;
  top: 8px;
  right: 116px;
  color: #326795;
  font-size: 20px;
  pointer-events: none; }

.btn-clinic {
  width: 120px;
  height: 30px;
  background: #c5e8ff;
  color: #326795; }
  .btn-clinic a {
    display: block;
    text-decoration: none;
    color: #326795; }

.btn-info {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 65px;
  background: #fc4f3f;
  border: none;
  text-align: left;
  opacity: 0.9; }
  .btn-info:hover {
    background: #e53828; }
  .btn-info img {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 40px;
    opacity: 0.2;
    z-index: -1; }
  .btn-info a {
    display: block;
    padding: 10px 0 10px 20px;
    text-decoration: none;
    color: #fff; }

/*header*/
.header {
  background: #fff;
  margin: 20px 0; }

.logo {
  position: relative; }
  .logo p {
    position: absolute;
    top: 43px;
    left: 112px; }

.location {
  font-size: 13px;
  padding-left: 25px;
  position: relative; }
  .location address {
    margin: 0; }
    .location address i {
      position: absolute;
      top: -4px;
      left: -7px;
      color: #3598db;
      font-size: 22px; }
  .location .time {
    padding-top: 5px; }
    .location .time i {
      position: absolute;
      top: 37px;
      left: -7px;
      color: #3598db;
      font-size: 20px; }
    .location .time span {
      color: #3598db;
      font-weight: 700; }

.signing {
  margin-right: 30px; }

.phone {
  text-align: right; }
  .phone p {
    font-size: 30px;
    font-weight: 700; }
  .phone a {
    color: #93c8ec;
    text-decoration: none;
    border-bottom: 1px dashed #93c8ec; }
  .phone img {
    position: relative;
    top: 0;
    right: 0;
    height: 20px; }

/*section menu*/
.menu {
  background: #133755;
  position: relative; }

.menu-header {
  height: 60px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .menu-header > li {
    margin-right: 35px; }
    .menu-header > li:nth-child(10) {
      margin-right: 115px; }
    .menu-header > li > a {
      text-decoration: none;
      color: #fff;
      display: block; }
    .menu-header > li > input {
      display: none;
      position: relative; }
      .menu-header > li > input:checked ~ .sub {
        display: block; }
    .menu-header > li > label {
      margin: 0;
      padding: 20px 0;
      display: block;
      color: #fff;
      cursor: pointer; }

.services-icon {
  position: absolute;
  top: 35px;
  left: 170px;
  font-size: 18px;
  color: #fff; }
  .services-icon_up {
    top: -26px;
    left: 60px;
    width: 20px;
    height: 20px;
    z-index: 5; }

.sub {
  display: none;
  width: 220px;
  position: absolute;
  top: 60px;
  left: 110px;
  background: #326795;
  z-index: 1; }
  .sub li:nth-child(2) {
    padding-top: 11px; }
  .sub li:last-child {
    padding-bottom: 11px; }
  .sub li > a {
    display: block;
    padding: 4px 0 4px 15px;
    position: relative;
    text-decoration: none;
    color: #fff;
    font-size: 13px; }
    .sub li > a:hover {
      background: #133755; }

.search-button {
  width: 70px;
  height: 60px;
  background: #326795;
  cursor: pointer; }
  .search-button i {
    color: #fff;
    font-size: 20px; }

.sb {
  position: absolute;
  right: 15px;
  top: 64px;
  display: none;
  z-index: 1; }
  .sb-input {
    position: absolute;
    top: 0px;
    left: -300px;
    width: 300px;
    background: #326795;
    padding-left: 20px;
    height: 60px;
    font-size: 13px;
    color: #fff; }
    .sb-input::-webkit-input-placeholder {
      color: #fff; }
    .sb-input::-moz-placeholder {
      color: #fff; }
    .sb-input:-ms-input-placeholder {
      color: #fff; }
    .sb-input::-ms-input-placeholder {
      color: #fff; }
    .sb-input::placeholder {
      color: #fff; }
  .sb-search {
    width: 70px;
    height: 60px;
    background: #326795;
    cursor: pointer; }
    .sb-search i {
      color: #fff;
      font-size: 20px; }
  .sb-cancel {
    position: absolute;
    top: -64px;
    left: 0px;
    width: 70px;
    height: 60px;
    background: #326795;
    cursor: pointer; }
    .sb-cancel i {
      color: #fff;
      font-size: 20px; }

.sb_opened {
  display: block; }

.icon_close {
  display: none; }

/*section slider*/
.bg-services {
  background: #ebf7ff; }

.services {
  padding: 12px 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000; }
  .services:hover {
    color: #000;
    text-decoration: none; }
  .services_move {
    margin-left: -40px; }
  .services img {
    height: 40px; }
  .services p {
    padding-left: 25px;
    font-size: 13px; }

/*section about*/
.about {
  padding: 24px 0 28px;
  background: #133755; }
  .about__item {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .about__item_move {
      margin-left: 20px; }
    .about__item img {
      width: 48px;
      height: 46px; }
    .about__item p {
      margin-left: 20px;
      font-size: 15px;
      text-transform: uppercase;
      color: #fff; }
    .about__item span {
      text-transform: lowercase; }

/*section our-services*/
.our-services {
  -webkit-box-shadow: 0px 5px 15px -2px rgba(210, 210, 210, 0.4);
          box-shadow: 0px 5px 15px -2px rgba(210, 210, 210, 0.4); }

.breadcrumbs {
  padding-top: 25px; }
  .breadcrumbs__home a {
    text-decoration: none;
    color: #3598db;
    text-decoration: underline; }
  .breadcrumbs__services {
    margin-left: 30px;
    position: relative; }
    .breadcrumbs__services i {
      color: #3598db;
      position: absolute;
      left: -17px; }

.services-title {
  text-align: center; }
  .services-title h2 {
    padding-top: 35px; }
  .services-title p {
    padding: 35px 0 20px;
    font-size: 14px;
    text-align: left; }

.eko__img {
  background: url(../img/pregnancy-2.png) no-repeat center;
  -webkit-background-size: cover;
          background-size: cover; }

.omc__img {
  background: url(../img/analizy.png) no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }

.programm__img {
  background: url(../img/eko.png) no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }

.surogat__img {
  background: url(../img/surogat.png) no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }

.second-row, .third-row, .fourth-row {
  margin-top: 40px; }

.donor__img {
  background: url(../img/donor.png) no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }

.ikci__img {
  background: url(../img/ikci.png) no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }

.treatment__img {
  background: url(../img/usare.png) no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }

.uro__img {
  background: url(../img/usare.png) no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }

.lab__img {
  background: url(../img/vse_tonkost.png) no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }

.frost__img {
  background: url(../img/frost.jpg) no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }

.uzi__img {
  background: url(../img/uzi.jpg) no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }

.ginecology__img {
  background: url(../img/sakit.jpg) no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }

.besplodiya__img {
  background: url(../img/besplodiya.jpg) no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }

.insemination__img {
  background: url(../img/insemination.jpg) no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }

.oplodotvoreniye__img {
  background: url(../img/oplodotvoreniye.jpg) no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }

.sperma {
  margin-bottom: 75px; }
  .sperma__img {
    background: url(../img/sperma.jpg) no-repeat;
    -webkit-background-size: cover;
            background-size: cover; }

/*section banner*/
.banner {
  padding-top: 65px; }
  .banner-img {
    margin-bottom: 50px;
    background: #f5f2e9;
    -webkit-background-size: cover;
            background-size: cover;
    height: 200px;
    position: relative;
    overflow: hidden; }
    .banner-img img {
      width: 800px;
      position: absolute;
      top: -100px;
      right: -180px; }
  .banner-content {
    padding-top: 27px;
    font-size: 16px;
    max-width: 545px; }
    .banner-content__text {
      padding: 10px 0 10px 35px;
      background: #3598db;
      color: #fff; }
    .banner-content__tel {
      padding: 5px 0 5px 35px; }
      .banner-content__tel .start {
        font-size: 20px; }
      .banner-content__tel .end {
        color: #3598db;
        font-size: 20px; }
    .banner-content small {
      padding-left: 35px;
      font-size: 14px; }

.tv-title {
  font-size: 28px; }

.tv {
  margin-bottom: 80px;
  width: 570px;
  overflow: hidden;
  overflow-x: scroll;
  white-space: nowrap; }

.love {
  margin: 30px 10px 20px 5px;
  display: inline-block;
  vertical-align: top; }
  .love__img {
    background: url(../img/love.jpg) no-repeat;
    -webkit-background-size: cover;
            background-size: cover; }

.zamershaja {
  margin: 30px 10px 20px 5px;
  display: inline-block;
  vertical-align: top; }
  .zamershaja__img {
    background: url(../img/zamershaja.jpg) no-repeat;
    -webkit-background-size: cover;
            background-size: cover; }

.base-title {
  font-size: 28px;
  margin-left: 30px; }

.base {
  margin-left: 30px; }

.base-excel {
  position: relative;
  width: 235px;
  height: 200px;
  -webkit-box-shadow: -10px 10px 20px 0px #f0f0f0;
          box-shadow: -10px 10px 20px 0px #f0f0f0;
  margin-right: 5px; }
  .base-excel:before {
    content: "";
    position: absolute;
    width: 150px;
    height: 1px;
    color: #3598db;
    bottom: 36px;
    left: 36px; }
  .base-excel:hover {
    -webkit-box-shadow: -5px 5px 1px 1px #ebf7ff;
            box-shadow: -5px 5px 1px 1px #ebf7ff;
    text-decoration: none;
    color: #3598db; }
  .base-excel img {
    width: 80px;
    position: absolute;
    top: 53px;
    left: 80px; }
  .base-excel p {
    position: absolute;
    bottom: 38px;
    left: 35px; }

.footer {
  background: #133755; }
  .footer-main {
    -webkit-box-shadow: 0px 5px 15px -1px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 5px 15px -1px rgba(0, 0, 0, 0.3); }

.logo-footer {
  margin: 35px 0 20px; }

.menu-footer {
  margin-bottom: 50px; }
  .menu-footer li a {
    color: #3598db;
    text-decoration: underline;
    font-size: 12px; }
  .menu-footer__one {
    margin-right: 45px; }

.services-footer {
  margin-top: 35px;
  line-height: 2.1; }
  .services-footer li a {
    color: #fff;
    text-decoration: underline;
    font-size: 13px; }

.location-footer {
  margin-top: 40px; }
  .location-footer p {
    color: #fff; }

.show-map {
  margin-top: 15px; }
  .show-map a {
    color: #3598db;
    text-decoration: underline; }

.btn-clinic-footer {
  margin-top: 25px;
  width: 142px;
  height: 40px;
  border: 2px solid #fff;
  background: #133755; }
  .btn-clinic-footer a {
    display: block;
    text-decoration: none;
    color: #fff;
    height: 100%;
    line-height: 40px; }

.contacts {
  margin-top: 30px; }

.phone_rout {
  text-align: left; }

.phone__number_color {
  color: #fff; }

.info-footer {
  margin-top: 20px; }

.signing_f {
  margin-right: 11px; }

.social {
  margin-top: 15px;
  font-size: 20px; }
  .social li {
    margin-right: 10px; }

.footer-copy {
  margin: 40px 30px;
  color: #375670; }
  .footer-copy p {
    padding-top: 10px;
    text-align: center; }
