/*Specification*/
ul {
  padding: 0;
  margin: 0;
  list-style: none; }

p, h1, h2 {
  margin: 0; }

body {
  font-family: 'Proxima Nova', 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #000; }

input {
  outline: none;
  border-top: 0; }

button {
  padding: 0;
  border: none; }

.btn-more {
  width: 200px;
  height: 50px;
  border: 2px solid #fc4f3f;
  background: transparent; }
  .btn-more a {
    display: block;
    height: 100%;
    color: #fc4f3f;
    text-decoration: none;
    line-height: 50px;
    font-size: 17px;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }

.title {
  font-family: 'Helvetica', 'Roboto', sans-serif;
  font-size: 44px;
  font-weight: 700; }
  .title span {
    color: #fc4f3f; }

.services-block {
  position: relative;
  width: 250px;
  display: block;
  height: 130px; }
  .services-block:hover {
    -webkit-box-shadow: 0 0 0 5px #3598db;
            box-shadow: 0 0 0 5px #3598db; }
  .services-block:before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    border-bottom: 110px solid rgba(55, 77, 102, 0.8);
    border-right: 230px solid transparent; }
  .services-block:hover:before {
    display: block;
    border-bottom: 110px solid rgba(53, 152, 219, 0.8); }
  .services-block__img {
    height: 130px; }
  .services-block__icon {
    width: 40px;
    position: absolute;
    top: 0;
    left: 0; }
  .services-block__text {
    position: absolute;
    bottom: 18px;
    left: 15px;
    font-size: 17px;
    font-weight: 700;
    color: #fff; }

/*section sale*/
.sale {
  background: #ebf7ff; }
  .sale p {
    padding: 13px 0;
    font-size: 13px;
    color: #666; }
    .sale p span {
      padding-left: 13px; }
    .sale p a {
      color: #3598db;
      text-decoration: underline; }

.selectcity {
  padding: 8px 0;
  text-align: right; }
  .selectcity select {
    padding: 5px 10px;
    width: 150px;
    height: 30px; }
    .selectcity select option {
      color: #326795; }
      .selectcity select option:hover {
        cursor: pointer;
        color: #3598db; }

.clinic {
  width: 120px;
  height: 30px;
  background: #c5e8ff;
  color: #326795; }
  .clinic a {
    display: block;
    text-decoration: none;
    color: #326795; }

/*header*/
.header {
  background: #fff;
  margin: 20px 0; }

.logo {
  position: relative; }
  .logo p {
    position: absolute;
    top: 43px;
    left: 112px; }

.location address {
  margin: 0; }
  .location address img {
    width: 20px;
    color: #3598db;
    vertical-align: top; }
  .location address p {
    padding-left: 5px;
    display: inline-block;
    line-height: 1.2; }

.location .time {
  padding-top: 5px; }
  .location .time img {
    width: 17px;
    vertical-align: top; }
  .location .time p {
    padding-left: 5px;
    display: inline-block; }
  .location .time span {
    color: #3598db;
    font-weight: 700; }

.info button {
  margin-left: 16px;
  position: relative;
  display: inline-block;
  width: 120px;
  height: 65px;
  background: #e53828;
  border: none;
  text-align: left;
  opacity: 0.8; }
  .info button:hover {
    opacity: 1; }
  .info button img {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 40px;
    opacity: 0.2; }
  .info button a {
    display: block;
    padding: 10px 0 10px 20px;
    text-decoration: none;
    color: #fff; }

.phone {
  text-align: right; }
  .phone p {
    font-size: 30px;
    font-weight: 700; }
  .phone a {
    color: #93c8ec;
    text-decoration: none;
    border-bottom: 1px dashed #93c8ec; }
  .phone img {
    position: relative;
    top: 0;
    right: 0;
    height: 20px; }

/*section menu*/
.menu {
  background: #133755;
  font-size: 17px;
  position: relative; }
  .menu-bar {
    height: 60px;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .menu-bar li {
      margin-right: 35px; }
      .menu-bar li a {
        text-decoration: none;
        color: #fff;
        display: block; }
      .menu-bar li .toggleSubmenu {
        display: none; }
        .menu-bar li .toggleSubmenu i {
          position: absolute;
          top: 40px;
          left: 195px;
          font-size: 18px;
          color: #fff; }

.sub {
  position: absolute;
  top: 60px;
  left: 130px;
  background: #326795;
  width: 220px;
  display: none; }
  .sub li a {
    background: #133755;
    font-size: 15px; }

input:checked ~ .sub {
  display: block;
  position: relative; }

.menu-bar label.toggleSubmenu {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: block; }

input:checked ~ a {
  background: #326795;
  color: #fff; }

/*section slider*/
.slider {
  background: #f7fbfc url(../img/malysh.png) no-repeat 70% 100%;
  height: 460px; }

.bg-services {
  background: rgba(251, 253, 254, 0.6); }

.services {
  padding: 12px 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .services_move {
    margin-left: -45px; }
  .services img {
    height: 40px; }
  .services a {
    padding-left: 20px;
    text-decoration: none;
    color: #000; }

.slider-title {
  margin: 50px 0; }
  .slider-title h1 {
    font-size: 48px;
    font-weight: 700; }
    .slider-title h1 span {
      color: #3598db; }
  .slider-title__btn {
    margin-top: 35px; }
    .slider-title__btn a:hover {
      background: #fc4f3f;
      color: #fff; }

.rectangle {
  margin-bottom: 20px; }
  .rectangle input {
    display: none; }
  .rectangle__item {
    margin-right: 10px;
    width: 50px;
    height: 8px;
    cursor: pointer;
    background: #fff; }

#photo1:checked ~ .label1 {
  background: #3598db; }

#photo2:checked ~ .label2 {
  background: #3598db; }

#photo3:checked ~ .label3 {
  background: #3598db; }

/*section about*/
.about {
  padding: 24px 0 28px;
  background: #133755; }
  .about__item {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .about__item_move {
      margin-left: 20px; }
    .about__item img {
      width: 48px;
      height: 46px; }
    .about__item p {
      margin-left: 20px;
      font-size: 15px;
      text-transform: uppercase;
      color: #fff; }
    .about__item span {
      text-transform: lowercase; }

/*section our-services*/
.our-services {
  text-align: center; }
  .our-services-title h2 {
    padding-top: 60px; }
  .our-services-title p {
    padding: 35px 0 20px;
    font-size: 16px; }

.eko__img {
  background: url(../img/pregnancy-2.png) no-repeat center;
  -webkit-background-size: cover;
          background-size: cover; }

.omc__img {
  background: url(../img/analizy.png) no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }

.programm__img {
  background: url(../img/eko.png) no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }

.surogat__img {
  background: url(../img/surogat.png) no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }

.second-row, .third-row {
  margin-top: 40px; }

.donor__img {
  background: url(../img/donor.png) no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }

.ikci__img {
  background: url(../img/ikci.png) no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }

.treatment__img {
  background: url(../img/usare.png) no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }

.uro__img {
  background: url(../img/usare.png) no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }

.lab__img {
  background: url(../img/vse_tonkost.png) no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }

.frost__img {
  background: url(../img/frost.jpg) no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }

.uzi__img {
  background: url(../img/uzi.jpg) no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }

.ginecology__img {
  background: url(../img/sakit.jpg) no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }

.services__btn {
  margin: 45px 0 85px; }

.btn-show {
  width: 325px;
  height: 50px;
  background: #e53828;
  position: relative;
  opacity: 0.8; }
  .btn-show:hover {
    z-index: 1;
    opacity: 1; }
  .btn-show:after {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 325px;
    height: 50px;
    border: 2px solid #fff; }
  .btn-show a {
    font-size: 19px;
    color: #fff;
    text-decoration: none;
    display: block;
    height: 100%;
    line-height: 50px; }
