@import "colors" //интегрируем переменные с цветами
@import "fontello" //иконки с fontello

/*Specification*/

ul
	padding: 0
	margin: 0
	list-style: none

p, h1, h2
	margin: 0

body
 font-family: 'Proxima Nova', 'Roboto', sans-serif
 font-size: 14px
 font-weight: 400
 color: $body-text

input
 outline: none
 border: none

button
	padding: 0 
	border: none

.title /*заголовки секций*/
	font-family: 'Helvetica', 'Roboto', sans-serif
	font-size: 44px
	font-weight: 700
	span
	 color: $text-title

.services-block /*блок для секции наши услуги*/
	display: block
	position: relative
	width: 250px
	height: 130px
	&:hover
	 box-shadow: 0 0 0 5px $active-text
	&:before /*треугольник*/
		content: ""
		position: absolute
	 bottom: 0px
	 left: 0px
	 border-bottom: 110px solid rgba(55, 77, 102, 0.8) 
	 border-right: 230px solid transparent
	&:hover:before
	 display: block
	 border-bottom: 110px solid rgba(53, 152, 219, 0.8)
	&__img
		height: 130px
	&__icon
		width: 40px
		position: absolute
		top: 0
		left: 0
		&_size /*для 16 блока*/
			width: 35px
			padding-left: 10px
 &__text
  position: absolute
		bottom: 18px
		left: 15px
		font-size: 14px
		font-weight: 700
		color: $menu-text

.tv-block /*блок с видео*/
	display: block
	position: relative
	width: 270px
	height: 150px
	&:hover
		box-shadow: 0 0 0 5px $active-text
	&__img
		height: 150px
	&__icon
		width: 60px
		position: absolute
		top: 50px
		left: 95px

/*section sale*/

.sale
	background: $bg-sale
	height: 45px
 p
 	font-size: 13px
 	color: $second-text
 	line-height: 45px
 	span
 		padding-left: 13px
 	a
   color: $active-text
   text-decoration: underline
.select-city /*Выбор городов*/
	padding: 7px 0
	select
		padding: 3px 10px
		width: 180px
	 height: 30px
	 border: 1px solid rgba(197, 232, 255, 0.8)
	 appearance: none
	 color: $bg-sub
	 cursor: pointer
	 &:focus
	  outline: none
	  color: $bg-sub
	  border: 1px solid rgba(197, 232, 255, 0.8)
	  cursor: pointer
		option
			color: $body-text
	  &:focus
	  	color: $active-text

.select-icon /*cтрелка для городов*/
 position: absolute
 top: 8px
 right: 116px
 color: $bg-sub
 font-size: 20px
 pointer-events: none

.btn-clinic /*кнопка все клинки*/
	width: 120px
	height: 30px
 background: $btn-clinic
 color: $bg-sub
 a
 	display: block
 	text-decoration: none
  color: $bg-sub

.btn-info /*кнопки записаться на прием и задать вопрос*/
	position: relative
	display: inline-block
	width: 120px
	height: 65px
	background: $text-title
	border: none
	text-align: left
	opacity: 0.9
	&:hover
  background: $btn-info
	img
  position: absolute
  top: 10px
  right: 10px
		height: 40px
		opacity: 0.2
		z-index: -1
	a
		display: block
		padding: 10px 0 10px 20px
		text-decoration: none
		color: $menu-text


/*header*/

.header
	background: $bg-header
	margin: 20px 0
.logo
	position: relative
	p
		position: absolute
		top: 43px
		left: 112px

.location
	font-size: 13px
	padding-left: 25px
	position: relative
 address
 	margin: 0
		i
			position: absolute
			top: -4px
			left: -7px
			color: $active-text
			font-size: 22px
	.time
		padding-top: 5px
  i
			position: absolute
			top: 37px
			left: -7px
			color: $active-text
			font-size: 20px
		p
		span
			color: $active-text
   font-weight: 700

.info /*кнопки записаться на прием и задать вопрос*/
.signing
	margin-right: 30px

.phone
	text-align: right
	p
		font-size: 30px
		font-weight: 700
	a
		color: #93c8ec
		//padding-right: 5px
		text-decoration: none
		border-bottom: 1px dashed #93c8ec
	img
  position: relative
  top: 0
  right: 0
  height: 20px
 
/*section menu*/

.menu
	background: $bg-menu
 position: relative

.menu-header
 height: 60px
 align-items: center
 &>li
  margin-right: 35px
  &:nth-child(10) /*пункт контакты в меню*/
  	margin-right: 115px
  &>a
		 text-decoration: none
		 color: $menu-text
		 display: block
  &>input 
	  display: none
	  position: relative
   &:checked ~ .sub
	   display: block
  &>label
  	margin: 0
  	display: block
  	color: $menu-text
  	cursor: pointer
.services-icon /*иконка вниз*/
	position: absolute
	top: 35px
	left: 170px
	font-size: 18px
	color: $menu-text 
	&_up /*иконка вверх*/
		top: -26px
	 left: 60px
	 width: 20px
	 height: 20px
	 z-index: 5

.sub /*под меню для услуги*/
	display: none
	width: 220px
	position: absolute
	top: 60px
	left: 110px
	background: $bg-sub
	z-index: 1
 li
 	&:nth-child(2) /*верхний отступ*/
 		padding-top: 11px
 	&:last-child /*нижний отступ*/
 		padding-bottom: 11px
 	&>a
 		display: block
 		padding: 4px 0 4px 15px
 		position: relative
 		text-decoration: none
		 color: $menu-text
 		font-size: 13px
 		&:hover
 			background: $bg-menu


.search-button /*кнопка поиска*/
 width: 70px
 height: 60px
 background: $bg-sub
 cursor: pointer
 i
  color: $menu-text
  //font-size: 24px

.sb /*форма поиска*/
	position: absolute
	right: 15px
	top: 64px
	display: none
	z-index: 1
 &-input /*поле ввода*/
 	position: absolute
 	top: 0px
 	left: -300px
 	width: 300px
 	background: $bg-sub
 	padding-left: 20px
 	height: 60px
 	font-size: 13px
 	color: $menu-text
 	&::placeholder
 		color: $menu-text
	&-search /*кнопка поиска*/
	 width: 70px
	 height: 60px
	 background: $bg-sub
	 cursor: pointer
	 i
	  color: $menu-text
	&-cancel /*кнопка закрытия*/
	 position: absolute
	 top: -64px
	 left: 0px
	 width: 70px
	 height: 60px
	 background: $bg-sub
	 cursor: pointer
	 i
	  color: $menu-text
	  //font-size: 24px

.sb_opened /*класс для открытия формы поиска*/
 display: block 
 //opacity: 1	
.icon_close /*класс для скрытия иконки вниз*/
	display: none


/*section slider*/

.slider
.bg-services
	background: $bg-sale
.services
	padding: 12px 0
 display: -webkit-flex
 display: -moz-flex
 display: -ms-flex
 display: -o-flex
 display: flex
 align-items: center
 &_move
 	margin-left: -45px
	img
		height: 40px
	a
  padding-left: 25px
  text-decoration: none
  color: $body-text
  font-size: 13px


/*section about*/
.about
	padding: 24px 0 28px
	background: $bg-menu
	&__item
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		align-items: center
		&_move
			margin-left: 20px
		img
			width: 48px
			height: 46px
		p
			margin-left: 20px
			font-size: 15px
			text-transform: uppercase
			color: $menu-text
  span
  	text-transform: lowercase

/*section our-services*/
.our-services
	box-shadow: 0px 5px 15px -2px rgba(210, 210, 210, 0.4)
.breadcrumbs /*переход по страницам*/
	padding-top: 25px
	&__home
		a
			text-decoration: none
			color: $active-text
			text-decoration: underline
	&__services
		margin-left: 30px
		position: relative
		i
		 color: $active-text
		 position: absolute
		 left: -17px
.services-title /*заголовок раздела*/
	text-align: center
	h2
		padding-top: 35px
	p
		padding: 35px 0 20px
		font-size: 14px
		text-align: left
.eko /*1й блок*/
	&__img
		background: url(../img/pregnancy-2.png) no-repeat center
		background-size: cover

.omc /*2й блок*/
	&__img
		background: url(../img/analizy.png) no-repeat 
		background-size: cover

.programm /*3й блок*/
	&__img
		background: url(../img/eko.png) no-repeat 
		background-size: cover

.surogat /*4й блок*/
	&__img
		background: url(../img/surogat.png) no-repeat 
	 background-size: cover

.second-row, .third-row, .fourth-row
 margin-top: 40px

.donor /*5й блок*/
	&__img
		background: url(../img/donor.png) no-repeat 
	 background-size: cover

.ikci /*6й блок*/
	&__img
		background: url(../img/ikci.png) no-repeat 
	 background-size: cover

.treatment /*7й блок*/
	&__img
		background: url(../img/usare.png) no-repeat 
	 background-size: cover

.uro /*8й блок*/
	&__img
		background: url(../img/usare.png) no-repeat 
	 background-size: cover

.lab /*9й блок*/
	&__img
		background: url(../img/vse_tonkost.png) no-repeat 
	 background-size: cover

.frost /*10й блок*/
	&__img
		background: url(../img/frost.jpg) no-repeat 
	 background-size: cover

.uzi /*11й блок*/
	&__img
		background: url(../img/uzi.jpg) no-repeat 
	 background-size: cover

.ginecology /*12й блок*/
	&__img
		background: url(../img/sakit.jpg) no-repeat 
	 background-size: cover

.besplodiya /*13й блок*/
	&__img
		background: url(../img/besplodiya.jpg) no-repeat 
	 background-size: cover

.insemination /*14й блок*/
	&__img
		background: url(../img/insemination.jpg) no-repeat 
	 background-size: cover

.oplodotvoreniye /*15й блок*/
	&__img
		background: url(../img/oplodotvoreniye.jpg) no-repeat 
	 background-size: cover

.sperma /*16й блок*/
	margin-bottom: 75px
	&__img
		background: url(../img/sperma.jpg) no-repeat 
	 background-size: cover

/*section banner*/
.banner
	padding-top: 65px
	&-img
	 margin-bottom: 50px
		background: #f5f2e9
		background-size: cover
	 height: 200px
	 position: relative
	 overflow: hidden
	 img
	 	width: 800px
	 	position: absolute
	 	top: -100px
	 	right: -180px

 &-content
 	padding-top: 27px
 	font-size: 16px
 	max-width: 545px
	 &__text
	 	padding: 10px 0 10px 35px
	 	background: $active-text
	 	color: $menu-text
	 &__tel
	 	padding: 5px 0 5px 35px
	 	.start
    font-size: 20px
	 	.end
	 		color: $active-text
	 		font-size: 20px
	 small
   padding-left: 35px
   font-size: 14px
	
.tv-title
	font-size: 28px
	margin-bottom: 30px
.tv /*видео*/
	margin-bottom: 80px
.love /*1й блок*/
	margin-right: 30px
	&__img
		background: url(../img/love.jpg) no-repeat 
		background-size: cover
.zamershaja /*2й блок*/
	&__img
		background: url(../img/zamershaja.jpg) no-repeat 
		background-size: cover

.base-title
 font-size: 28px
 margin-left: 30px 
.base /*базы в exel*/
	margin-left: 30px 
.base-excel
	//display: block
	position: relative
	width: 235px
	height: 200px
	box-shadow: -10px 10px 20px 0px #f0f0f0
	margin-right: 5px
	&:before
		content: ""
		position: absolute
		width: 150px
		height: 1px
		color: $active-text
		bottom: 36px
		left: 36px
	&:hover
		box-shadow: -5px 5px 1px 1px #ebf7ff
		text-decoration: none
		color: $active-text
	img
		width: 80px
		position: absolute
		top: 53px
		left: 80px
	p
  position: absolute
		bottom: 38px
		left: 35px
  
.footer
 background: $bg-menu 	
 &-main
 	box-shadow: 0px 5px 15px -1px rgba(0, 0, 0, 0.3)
.logo-footer
	margin: 35px 0 20px
.menu-footer
	margin-bottom: 50px
	li
		a
			color: $active-text
			text-decoration: underline
			font-size: 12px
	&__one
		margin-right: 45px

.services-footer
	margin-top: 35px
	line-height: 2.1
	li
		a
			color: $menu-text
			text-decoration: underline
			font-size: 13px

.location-footer
	margin-top: 40px
	p
		color: $menu-text
.show-map
	margin-top: 15px
 a
  color: $active-text
		text-decoration: underline
.btn-clinic-footer
	margin-top: 25px
	width: 142px
	height: 40px
	border: 2px solid $menu-text
	background: $bg-menu
 a
 	display: block
 	text-decoration: none
 	color: $menu-text
 	height: 100%
 	line-height: 40px

.contacts
	margin-top: 30px
.phone_rout
	text-align: left
.phone__number_color
	color: $menu-text
.info-footer /*блок с кнопками*/
	margin-top: 20px
.signing_f /*кнопка записаться на прием*/
	margin-right: 11px
.social
	margin-top: 15px
	font-size: 20px
 li
 	margin-right: 10px

.footer-copy
	margin: 40px 30px
	color: #375670
 small
 p
  padding-top: 10px
  text-align: center

